name: "build-latest-fork"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "master"
    paths:
      - "src/**"
  pull_request:
    branches:
      - "main"
      - "master"
    paths:
      - "src/Dockerfile*"
      - "src/requirements.txt"

permissions:
  contents: read
  packages: write

jobs:
  docker_buildx_debian:
    runs-on: ubuntu-latest
    timeout-minutes: 210
    steps:
      - name: Run Docker on tmpfs
        uses: JonasAlfredsson/docker-on-tmpfs@v1.0.1
        with:
          tmpfs_size: 7
          swap_size: 9

      # - name: Perform setup steps
      #   uses: JonasAlfredsson/checkout-qemu-buildx@v2
      #   with:
      #     should_login: ${{ github.event_name != 'pull_request' }}
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout the repository
        uses: actions/checkout@v3.1.0

      - name: Set up QEMU environment
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.1.0

      - name: Log into registry ghcr.io
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push latest Debian image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./src
          file: ./src/Dockerfile
          platforms: |
            linux/amd64
            linux/386
            linux/arm64
            linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}:latest
          labels: org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}

  docker_buildx_alpine:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    steps:
      - name: Run Docker on tmpfs
        uses: JonasAlfredsson/docker-on-tmpfs@v1.0.1
        with:
          tmpfs_size: 7
          swap_size: 9

      # - name: Perform setup steps
      #   uses: JonasAlfredsson/checkout-qemu-buildx@v2
      #   with:
      #     should_login: ${{ github.event_name != 'pull_request' }}
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout the repository
        uses: actions/checkout@v3.1.0

      - name: Set up QEMU environment
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.1.0

      - name: Log into registry ghcr.io
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push latest Alpine image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./src
          file: ./src/Dockerfile-alpine
          platforms: |
            linux/amd64
            linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}:alpine
          labels: org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
